.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}




@media screen and (max-width:420px) {
 
  
  body{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .container{
  display: flex;
  background-color: #f2f2cd;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
 
 
/* NON CAPISCO PERCHE' METTENDO JUSTIFY CONTENT FLEX START NON MI SI ALLINEA IN ALTO  */

 .row {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}

 #lezioni .row>.left{
  align-items: center; 
  width: 100%;
}

#lezioni .row>.right{
  align-items: center; 
  width: 100%;
}

#lezioni .row>.left img{
  align-items: center; 
  max-width: 70%;
}

#lezioni .row>.right img{
  align-items: center; 
  max-width: 70%;
}

#steps .row>.left{
  width: 100%;
}

#steps .row>.central{
  width: 100%;
}

#steps .row>.right{
  width: 100%;
}

#steps .row>.left img{
  width: 100%;
  max-width: 60%;
}


#steps .row>.central img{
  width: 100%;
  /* margin-bottom: 1rem; */
}


#steps .row>.right img{
  width: 100%;
  max-width: 60%;
}

#why .row>.first img,
#why .row>.second img,
#why .row>.third img{
  max-width: 70%;
}

#why {
  background-color: #f2f2cd;
}

}
  

